/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import './styles/angular-dev-theme-tokens';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 1rem;
  overflow: hidden;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font-size: 14px;
}


